spring:
  application:
    name: api-gateway

server:
  port: 8765
--- 
spring:
  profiles: dev
  cloud:
    bus:
      id: naming-server-fbcb02b3-80df-48d2-8da4-18a089d27e8d
      enabled: true
    gateway:
      discovery:
        locator:
          enabled: true
          lowerCaseServiceId: true
      routes:
      - id: user-service
        uri: lb://user-service
        predicates:
        - Path=/usvc/**      
        filters:
        - RewritePath=/usvc/(?<segment>.*), /$\{segment}
      - id: product-service
        uri: lb://product-service
        predicates:
        - Path=/psvc/**      
        filters:
        - RewritePath=/psvc/(?<segment>.*), /$\{segment}
      - id: review-service
        uri: lb://review-service
        predicates:
        - Path=/rsvc/**      
        filters:
        - RewritePath=/rsvc/(?<segment>.*), /$\{segment}
      - id: cart-cmd-service
        uri: lb://cart-cmd-service
        predicates:
        - Path=/cartcmd/**      
        filters:
        - RewritePath=/cartcmd/(?<segment>.*), /$\{segment}
      - id: cart-query-service
        uri: lb://cart-query-service
        predicates:
        - Path=/cartquery/**      
        filters:
        - RewritePath=/cartquery/(?<segment>.*), /$\{segment}
      - id: order-service
        uri: lb://order-service
        predicates:
        - Path=/osvc/**      
        filters:
        - RewritePath=/osvc/(?<segment>.*), /$\{segment}
  kafka:
    bootstrap-servers: http://localhost:9095   
  gateway:
    discovery:
      locator:
        enabled: true   
app:
  info: API Gateway 
  version: V1
  public_routes: /actuator/**,/favicon.ico
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
--- 
spring:
  profiles: uat
  cloud:
    bus:
      id: naming-server-fbcb02b3-80df-48d2-8da4-18a089d27e8d
      enabled: true
  kafka:
    bootstrap-servers: http://localhost:9095  
  gateway:
    discovery:
      locator:
        enabled: true           
app:
  info: Naming Server Microservice
  version: V1
  public_routes: /actuator/**,/favicon.ico
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
--- 
spring:
  profiles: prod
  cloud:
    bus:
      id: naming-server-fbcb02b3-80df-48d2-8da4-18a089d27e8d
      enabled: true
  kafka:
    bootstrap-servers: http://localhost:9095      
  gateway:
    discovery:
      locator:
        enabled: true       
app:
  info: Naming Server Microservice
  version: V1
  public_routes: /actuator/**,/favicon.ico
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka